{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImgAug</title>

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        *:focus {
            outline: none;
        }
    </style>
</head>
<body class="bg-[#242833] text-[#cfcfcf]">
    <!-- Core -->
    <div>
        <div class="grid h-screen place-items-center">
            <form action="{% url 'process_augmentation' %}" method="POST">
                {% csrf_token %}
                <div class="grid grid-rows grid-flow-col gap-2">
                    <div class="row-span-3 rounded-l-lg rounded-r p-4 bg-[#00000026]"> 
                        <div class="flex w-full h-full flex-col space-y-1 justify-center">
                            <div class="flex">
                                <label for="affine" id="affine_label" class="w-full select-none cursor-pointer z-999 bg-blue-400 font-bold py-2 px-4 rounded text-center">Affine</label>
                                <input type="checkbox" name="affine" id="affine" value="True" checked class="hidden">
                            </div>
                            <div class="flex">
                                <label for="random_crop" id="random_crop_label" class="w-full select-none cursor-pointer z-999 bg-blue-400 font-bold py-2 px-4 rounded text-center">Random Crop</label>
                                <input type="checkbox" name="random_crop" id="random_crop" value="True" class="hidden">
                            </div>
                            <div class="flex">
                                <label for="center_crop" id="center_crop_label" class="w-full select-none cursor-pointer z-999 bg-blue-400 font-bold py-2 px-4 rounded text-center">Center Crop</label>
                                <input type="checkbox" name="center_crop" id="center_crop" value="True" class="hidden">
                            </div>
                            <div class="flex">
                                <label for="horizontal_flip" id="horizontal_flip_label" class="w-full select-none cursor-pointer z-999 bg-blue-400 font-bold py-2 px-4 rounded text-center">Horizontal Flip</label>
                                <input type="checkbox" name="horizontal_flip" id="horizontal_flip" value="True" class="hidden">
                            </div>
                            <div class="flex">
                                <label for="vertical_flip" id="vertical_flip_label" class="w-full select-none cursor-pointer z-999 bg-blue-400 font-bold py-2 px-4 rounded text-center">Vertical Flip</label>
                                <input type="checkbox" name="vertical_flip" id="vertical_flip" value="True" class="hidden">
                            </div>
                            <div class="flex">
                                <label for="togray" id="togray_label" class="w-full select-none cursor-pointer z-999 bg-blue-400 font-bold py-2 px-4 rounded text-center">Gray Scale</label>
                                <input type="checkbox" name="togray" id="togray" value="True" class="hidden">
                            </div>
                            <div class="flex">
                                <label for="gauss_noise" id="gauss_noise_label" class="w-full select-none cursor-pointer z-999 bg-blue-400 font-bold py-2 px-4 rounded text-center">Gaussian Noise</label>
                                <input type="checkbox" name="gauss_noise" id="gauss_noise" value="True" class="hidden">
                            </div>
                        </div>
                    </div>

                    <div class="col-span-2 rounded-tr-lg rounded-br rounded-l p-4 bg-[#00000026] w-full">
                        <div class="w-full grid grid-cols-3 gap-2" style="grid-template-columns: repeat(3, minmax(0, 1fr));">
                            <!-- Affine -->
                            <div class="p-4 rounded-lg bg-[#00000026] hidden" id="affine_params">
                                <div class="flex items-center justify-center">
                                    <h1 class="font-bold">Affine</h1>
                                </div>

                                <div class="mt-2">
                                    <ul class="flex flex-col space-y-[3px]">
                                        <li class="flex" id="affine_translate_box">
                                            <label for="affine_translate_percent" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Translate</label>
                                            <input type="text" name="affine_translate_percent" id="affine_translate_percent" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="percent [-1 to 1]">
                                        </li>
                                        <li class="flex" id="probability_box">
                                            <label for="affine_p" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">P</label>
                                            <input type="text" name="affine_p" id="affine_p" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="Probability [0 to 1]">
                                        </li>
                                        <li class="flex" id="affine_rotate_box">
                                            <label for="affine_rotate" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Rotate</label>
                                            <input type="text" name="affine_rotate" id="affine_rotate" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="degree [-360 to 360]">
                                        </li>
                                        <li class="flex" id="affine_shear_box">
                                            <label for="affine_shear" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Shear</label>
                                            <input type="text" name="affine_shear" id="affine_shear" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="(x, y) degree [-360 to 360]">
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Random Crop -->
                            <div class="p-4 rounded-lg bg-[#00000026] hidden" id="random_crop_params">
                                <div class="flex items-center justify-center">
                                    <h1 class="font-bold">Random Crop</h1>
                                </div>

                                <div class="mt-2">
                                    <ul class="flex flex-col space-y-[3px]">
                                        <li class="flex" id="random_crop_width_box">
                                            <label for="random_crop_width" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Width</label>
                                            <input type="text" name="random_crop_width" id="random_crop_width" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="pixel">
                                        </li>
                                        <li class="flex" id="random_crop_height_box">
                                            <label for="random_crop_height" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Height</label>
                                            <input type="text" name="random_crop_height" id="random_crop_height" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="pixel">
                                        </li>
                                        <li class="flex" id="probability_box">
                                            <label for="random_crop_p" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">P</label>
                                            <input type="text" name="random_crop_p" id="random_crop_p" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="Probability [0 to 1]">
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Center Crop -->
                            <div class="p-4 rounded-lg bg-[#00000026] hidden" id="center_crop_params">
                                <div class="flex items-center justify-center">
                                    <h1 class="font-bold">Center Crop</h1>
                                </div>

                                <div class="mt-2">
                                    <ul class="flex flex-col space-y-[3px]">
                                        <li class="flex" id="center_crop_width_box">
                                            <label for="center_crop_width" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Width</label>
                                            <input type="text" name="center_crop_width" id="center_crop_width" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="pixel">
                                        </li>
                                        <li class="flex" id="center_crop_height_box">
                                            <label for="center_crop_height" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Height</label>
                                            <input type="text" name="center_crop_height" id="center_crop_height" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="pixel">
                                        </li>
                                        <li class="flex" id="probability_box">
                                            <label for="center_crop_p" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">P</label>
                                            <input type="text" name="center_crop_p" id="center_crop_p" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="Probability [0 to 1]">
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Horizontal Flip -->
                            <div class="p-4 rounded-lg bg-[#00000026] hidden" id="horizontal_flip_params">
                                <div class="flex items-center justify-center">
                                    <h1 class="font-bold">Horizontal Flip</h1>
                                </div>

                                <div class="mt-2">
                                    <ul class="flex flex-col space-y-[3px]">
                                        <li class="flex" id="probability_box">
                                            <label for="horizontal_flip_p" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">P</label>
                                            <input type="text" name="horizontal_flip_p" id="horizontal_flip_p" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="Probability [0 to 1]">
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Vertical Flip -->
                            <div class="p-4 rounded-lg bg-[#00000026] hidden" id="vertical_flip_params">
                                <div class="flex items-center justify-center">
                                    <h1 class="font-bold">Vertical Flip</h1>
                                </div>

                                <div class="mt-2">
                                    <ul class="flex flex-col space-y-[3px]">
                                        <li class="flex" id="probability_box">
                                            <label for="vertical_flip_p" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">P</label>
                                            <input type="text" name="vertical_flip_p" id="vertical_flip_p" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="Probability [0 to 1]">
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Gray Scale -->
                            <div class="p-4 rounded-lg bg-[#00000026] hidden" id="togray_params">
                                <div class="flex items-center justify-center">
                                    <h1 class="font-bold">Gray Scale</h1>
                                </div>

                                <div class="mt-2">
                                    <ul class="flex flex-col space-y-[3px]">
                                        <li class="flex" id="probability_box">
                                            <label for="togray_p" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">P</label>
                                            <input type="text" name="togray_p" id="togray_p" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="Probability [0 to 1]">
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Gaussian Noise -->
                            <div class="p-4 rounded-lg bg-[#00000026] hidden" id="gauss_noise_params">
                                <div class="flex items-center justify-center">
                                    <h1 class="font-bold">Gaussian Noise</h1>
                                </div>

                                <div class="mt-2">
                                    <ul class="flex flex-col space-y-[3px]">
                                        <li class="flex" id="probability_box">
                                            <label for="gauss_noise_p" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">P</label>
                                            <input type="text" name="gauss_noise_p" id="gauss_noise_p" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="Probability [0 to 1]">
                                        </li>
                                        <li class="flex" id="probability_box">
                                            <label for="gauss_noise_mean" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Mean</label>
                                            <input type="text" name="gauss_noise_mean" id="gauss_noise_mean" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="Mean [default 00]">
                                        </li>
                                        <li class="flex" id="probability_box">
                                            <label for="gauss_noise_var" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Variance</label>
                                            <input type="text" name="gauss_noise_var" id="gauss_noise_var" class="bg-[#16191F] rounded border-2 border-blue-400 border px-1 text-sm" placeholder="Variance">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-span-2 rounded-br-lg rounded-tr rounded-l col-span-2 p-4 bg-[#00000026]">
                        <div class="flex w-full flex-col space-y-1">
                            <div class="flex">
                                <label for="augmented_name" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Folder</label>
                                <input type="text" name="augmented_name" id="augmented_name" class="bg-[#16191F] w-full rounded border-2 border-blue-400 border px-1 text-sm" placeholder="Naming your output folder">
                            </div>
                            <div class="flex">
                                <label for="tag_ver" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Version</label>
                                <input type="text" name="tag_ver" id="tag_ver" class="bg-[#16191F] w-full rounded border-2 border-blue-400 border px-1 text-sm" placeholder="Tag version">
                            </div>
                            <div class="flex">
                                <label for="TransformOption" class="rounded bg-blue-400 text-white mr-[-5px] px-2 py-[1px]">Option</label>
                                <select name="TransformOption" id="TransformOption" class="bg-[#16191F] w-full rounded border-2 border-blue-400 border px-1 text-sm">
                                    <option value="oneTrans">one transform / dataset</option>
                                    <option value="AllTrans">all transforms / dataset</option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-4"></div>
                        <button class="bg-blue-400 hover:bg-blue-500 transition ease-in  font-bold py-2 px-4 w-full rounded" type="submit">
                            Apply Augmentations
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div id="tooltip" class="hidden absolute bg-[#16191F] p-2 rounded-lg">
            <span class="text-white"></span>
        </div>
    </div>

    <!-- Scripts -->
    <!-- Please don't look at it. it very suck. im shy lol! -->
    <script>
        const Tooltip = document.getElementById("tooltip")

        function CreateTooltip(Element, Text) { 
            Element.addEventListener("mouseenter", () => {
                Tooltip.style.display = "block"
            })

            Element.addEventListener("mouseleave", () => {
                Tooltip.style.display = "none"
            })
        }

        document.addEventListener("mousemove", (e) => {
            Tooltip.style.left = e.pageX + 5 + 'px';
            Tooltip.style.top = e.pageY - 35 + 'px';
        })
    </script>

    <script>
        const ToolTips = {
            "affine_translate": "Test Hello World"
        }
        
        for (const [Id, Text] of Object.entries(ToolTips)) {
            CreateTooltip(document.getElementById(Id), Text)
        }
    </script>

    <script>
        const ElementIds = ["affine", "random_crop", "center_crop", "horizontal_flip", "vertical_flip", "togray", "gauss_noise"]
        
        function Check(Element) {
            if (this.id) {
                Element = this
            }

            const Label = document.getElementById(Element.id + "_label")
            const Params = document.getElementById(Element.id + "_params")

            if (Element.checked) {
                Label.classList.remove("bg-blue-400")
                Label.classList.add("bg-blue-500")
                Params.style.display = "block";
            }
            else {
                Label.classList.remove("bg-blue-500")
                Label.classList.add("bg-blue-400")
                Params.style.display = "none";
            }
        }

        for (const ElementId of ElementIds) {
            const Element = document.getElementById(ElementId)

            Element.addEventListener("click", Check)
            Check(Element)
        }
    </script>
</body>
</html>